venv/
models/
results/losses/
results/
losses/
.ipynb_checkpoints/
.idea/
**/.DS_Store
__pycache__/
.Rhistory

### notebooks
BERT_MLM_fine-tuning.ipynb
SemEval_2020_subtask_2.ipynb

### Data files
data/word-lists/old
word-lists
data/
*.pickle