venv/
models/
losses/
results/
word-lists/
.ipynb_checkpoints/
.idea/
**/.DS_Store
__pycache__/

### notebooks
BERT_MLM_fine-tuning.ipynb
SemEval_2020_subtask_2.ipynb

### All data files
*.csv
data/
*.pickle