venv/
models/
results/losses/
results/
losses/
.ipynb_checkpoints/
.idea/
**/.DS_Store
__pycache__/
.Rhistory
data/

### notebooks
notebooks/

### Data files
data/word-lists/old
word-lists
data/
*.pickle